<footer class="footer bg-dark py-3 mt-auto">
  <div class="container row text-muted justify-content-between">
    <div class="col-md-2 footer-column">&copy; findSurf 2022</div>
    <div style="text-align: right"class="text-right col-md-2 ">Maxwell Mandina</div>
  </div>
</footer>
</body>
</html>

