<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World Map</title>
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script id="mapsId" Pos="0,0" surfspotsForMap="<%=cleanedSurfSpots%>" src="/mainMap.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css" />
  </head>
</html>
<body class="d-flex flex-column vh-100">
    
    
