<%- include('partials/headMainMap') %>

    <%- include('partials/navbar.ejs') %> 

    <div style= "height: 100%;
    width: 100%"id="map"></div>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
  
 
    <script
      src= "<%=apiKey%>"
      async
      defer
    ></script>


    <%-include('partials/footer')%>